* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.flex {
  background-color: purple;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}


.flex > :first-child {
  background-color: #ff00ff;
  margin-right: auto;
  height: 70px;
  flex-basis: 140px;
}

main  {
  max-width: 700px;
  padding: 20px;
  background-color: green;
  display: flex;
}
  
main > div:nth-child(1){
  flex-basis: 200px;
  flex-wrap: wrap;
  margin: 10px;
  height: 130px;
  flex-grow: 1;
  background-color: #ffff00;
}
main > div:nth-child(2){
  flex-basis: 200px;
  flex-wrap: wrap;
  margin: 10px;
  height: 130px;
  flex-grow: 1;
}
.sidebar {
  background-color: #99ff66;
  width: 300px;
}
